.header {
    background-color: grey;
    height: 80px;
    text-align: center;
}

body {
    text-align: center;
}

.photo {
    position: relative;
}

.on-top {
    position: relative;
    opacity: 0;
    transition: all 200ms ease-in-out;
    top: 0px;
    left: 0px;
    font-size: 50px;
    font-weight: 900;
    font-family: 標楷體;
}

.on-top:hover {
    opacity: 1;
}

h3 {
    display: inline-block;
    padding: 7px;
    border: 5px solid rgb(170, 152, 152);
    border-radius: 12px;
    font-size: 30px;
}

.header input {
    justify-content: center;
    text-align: center;
    height: 60px;
    width: 130px;
    margin: 5px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 25px;
    font-style: italic;
    font-weight: bolder;
}

.active,
.accordion:hover {
    background-color: silver;
}

.panel {
    padding: 0 35px;
    background-color: whEducationite;
    display: none;
    overflow: hidden;
    font-size: 25px;
    font-family: '標楷體';
}

#introduce {}

#introduce p {
    font-size: 20px;
}

#introduce img {
    margin: 10px;
}

#Education {
    margin: 10px 0px 10px 0;
}

#Target {
    margin: 10px 0px 10px 0;
}

#Project {
    margin: 10px 0px 10px 0;
}

#Project img {
    width: 100%;
    height: 700px;
}

#Occupation {
    margin: 10px 0px 10px 0;
}

#Occupation img {
    width: 100%;
    height: 700px;
}

.slider-img-md {
    /* margin: 150px; */
    padding: 100px;
}

.slider-img {
    display: flex;
    align-items: center;
    justify-content: start;
    /* overflow: hidden; */
    max-width: 600px;
    max-height: 300px;
    animation: run 15s infinite;
    animation-delay: 1s;
}

.slider-me-img:hover {
    color: #fc3a63;
    /* 當滑鼠經過時，超連結文字顏色變成桃紅色 */
}

.slider-img>img {
    width: 100%;
    max-width: 600px;
    max-height: 400px;
}

html {
    overflow-x: hidden;
}

.pic {
    width: 500px;
    height: 350px;
    overflow: hidden;
    display: inline;
    margin: 10px 5px 5px auto;
}

.pic img {
    transform: scale(1, 1);
    transition: all 1s ease-out;
}

.pic img:hover {
    transform: scale(1.2, 1.2);
}

@keyframes run {
    0% {
        transform: translate(0%);
    }
    35% {
        transform: translate(-150%);
    }
    60% {
        transform: translate(-520%);
    }
    100% {
        transform: translate(0%);
    }
}


/* 圖片疊加幻燈片 https://www.w3schools.com/howto/howto_css_image_overlay_slide.asp */

.container {
    position: relative;
    left: 300px;
    width: 60%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: black;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.container:hover .overlay {
    bottom: 0;
    height: 100%;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 標楷體;
    font-size: 30px;
}


/* 技能條 */

ul,
li {
    text-align: left;
    width: 1110px;
}

li {
    list-style: none;
    color: #d2dae2;
    font-size: 50px;
    margin: 48px 30px;
    position: relative;
}

li::before,
li::after {
    content: "";
    display: block;
    height: 16px;
    width: 100%;
    background-color: #1f4a59;
    position: absolute;
    bottom: -28px;
    border-radius: 6px;
}

li::before {
    box-shadow: 0 0 6px rgba(75, 207, 250, 0.2);
}

li::after {
    background-image: linear-gradient(90deg, #d62fb2, #ff00bf);
}

main {
    display: flex;
    align-items: center;
    justify-content: left;
}

li::after {
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.html::after {
    animation-name: html;
}

.css::after {
    animation-name: css;
}

.java::after {
    animation-name: java;
}

@keyframes html {
    from {
        width: 0;
    }
    to {
        width: 80%;
    }
}

@keyframes css {
    from {
        width: 0;
    }
    to {
        width: 70%;
    }
}

@keyframes java {
    from {
        width: 0;
    }
    to {
        width: 65%;
    }
}